/* Size */
/* Fonts */
#logo {
  height: 20px;
  width: auto; }

form input {
  width: 270px;
  height: 24px; }

form button {
  width: 189px;
  height: 30px; }

#illustration {
  height: 230px;
  width: auto; }

ul li {
  font-size: 23px; }
